{% extends "base.html" %}


{% block title %} Game Report {% endblock %}


{% block content %} 
<br/>
<h3 align='center'> Post-Game Report: {{ matchup }}</h3>
<h4 align='center'>{{ last_game_date }} </h4>
<h4>{{ last_game_points }}{{ opponent_score }}</h4>
<br/>
<br/>
<!-- <center>
    <h4>{{ last_game_date }}</h4>
    <h4>{{ last_game_matchup }}</h4>
</center> -->

<h4><em>General Box Score</em></h4>
<h4><em>Four Factors</em></h4>
<h4><em>Shooting</em></h4>
<h4><em>Defense</em></h4>




{% for table in tables %}
   
      {{ table|safe }}
   {% endfor %}

<br/>
<br/>
<br/>

{% endblock %}
